<% @comments.each do |c| %>
  <div class="text-left">@<%= link_to c.user.name, user_path(c.user_id) %></div>
  <%= c.content %>
  <div class="text-right"><%= l c.created_at %></div>
  <% if current_user == c.user %>
    <div class="text-right"><%= link_to "削除", topic_comment_path(@topic, c), method: :delete, remote: true %></div>
  <% end %>
<% end %>