<div class="error-page">
  <h1>500Error Page </h1>
  <p class="zoom-area">Server Error</p>
  <section class="error-container">
    <span class="four"><span class="screen-reader-text">5</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="zero"><span class="screen-reader-text">0 </span></span>
  </section>
  <div class="link-container">
    <a href="/" class="more-link">Top</a>
  </div>
</div>